<section class="Accounting-section">
    <div class="Accounting-wrapper">
        <div class="Accounting-part1">
            <h2>@_localization.Getkey("accountingpage").Value</h2>
            <p>
                @_localization.Getkey("accountingpage2").Value
            </p>
        </div>
        <div class="Accounting-part3">
            <p>
                @_localization.Getkey("accountingpage3").Value
            </p>
        </div>
        <div class="Accounting-part2">
            <img src="/img/Services/1.png" alt="Müəssisələrin uçot siyasəti">
            <img src="/img/Services/2.png" alt="Maliyyə hesabatlarının hazırlanması">
            <img src="/img/Services/3.png" alt="Bizneslərin uçot siyasəti">
        </div>

    </div>
</section>