 <section class="PartnerPage-section">
        <div class="PartnerPage-text">
            <div id="texte-animation" >
            <p class="bouncer" contenteditable>@_localization.Getkey("PartnerPage").Value</p>
                </div>
         </div>
        <div class="slider">
            <input type="radio" name="testimonial" id="t-1">
            <input type="radio" name="testimonial" id="t-2">
            <input type="radio" name="testimonial" id="t-3" checked>
            <input type="radio" name="testimonial" id="t-4">
            <input type="radio" name="testimonial" id="t-5">
            <div class="testimonials">
              <label class="item" for="t-1">
                <img src="/img/Partner-img/QQ4.png" alt="Proav">
                <h2>- Proav</h2>
              </label>
              <label class="item" for="t-2">
                <img src="/img/Partner-img/QQ5.png" alt="Referans polyclinic">
                <h2>- Referans polyclinic</h2>
              </label>
              <label class="item" for="t-3">
                <img src="/img/Partner-img/QQ6.png" alt=" MPay">
                <h2>- MPay</h2>
              </label>
              <label class="item" for="t-4">
                <img src="/img/Partner-img/QQ8.png" alt="LOR Hospital">
                <h2>- LOR Hospital</h2>
              </label>
              <label class="item" for="t-5">
                <img src="/img/Partner-img/qq11.png" alt="Leyla Medical Center">
                <h2>- Leyla Medical Center</h2>
              </label>
            </div>
            <div class="dots">
              <label for="t-1"></label>
              <label for="t-2"></label>
              <label for="t-3"></label>
              <label for="t-4"></label>
              <label for="t-5"></label>

            </div>
          </div>
     </section>